body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #11999E;
}

.top {
   background-color: #e4f9f5;
   margin: 0 auto;
   position: relative;
   padding-top: 90px;
}

hr {
  border: dotted gray 6px;
  border-bottom: none;
  width: 100px;
}


h1 {
  color: #c39e5c;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size:90px ;
}

h2{
 font-family: 'Montserrat', sans-serif;
}

h3{
   color: #c39e5c;
   font-family: 'Montserrat', sans-serif;
}
p{
  line-height: 2;
}

.intro {
  width: 30%;
  margin: 0 auto;
}

.bottom-cloud{
   display: inline-block;
   position: absolute;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.profile-pic {
  margin-top: 50px;
  height: 100px;
  width: 150px;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chillies-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}

.bottom-container {
  background-color: #30e3cb;
  padding: 50px 0 20px;
}

a{
  color: #11999E;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}
a:hover{
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #7999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #7999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #7999e);
  background-image: -o-linear-gradient(top, #11cdd4, #7999e);
  background-image: linear-gradient(to bottom, #11cdd4, #7999e);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  text-shadow: 1px 1px 4px #666666;
  -webkit-box-shadow: 1px 1px 4px #666666;
  -moz-box-shadow: 1px 1px 4px #666666;
  box-shadow: 1px 1px 4px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
